p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

h1 {
    text-align: center
}
body {
    
}

#banner { 
    width: 100%;
}

.principal {
    background-color: #cccccc;
}

em strong {
    color: #ff0000;
}


.itens {
font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}